@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, p, input, button, main {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 微軟正黑體;
}

input, button {
  outline: none;
}

button {
  border: none;
  background: none;
  color: inherit;
}

main {
  background-color: #1f1f1f;
  padding: 2vw;
  min-height: 100vh;
}

@media (max-width: 677px) {
  main {
    padding: 0;
  }
}

#player {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 677px) {
  .container {
    width: 100%;
  }
}

.player {
  position: relative;
  margin: 2vw 0;
  overflow: hidden;
}

@media (max-width: 677px) {
  .player {
    padding: 0;
  }
}

.player:hover .player-controls {
  bottom: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.player-controls {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  color: white;
  padding: 0 1vw;
  opacity: 0;
  -webkit-transition: 0.5s 0.5s;
  -o-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

@media (max-width: 667px) {
  .player-controls {
    font-size: 12px;
    height: 40px;
  }
}

.player-progress {
  position: relative;
  width: 100%;
  height: 3.5px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.player-progress__filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f00;
}

.player-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 14px;
}

@media (max-width: 667px) {
  .player-tools {
    margin-top: 10px;
  }
}

.player-tools__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 667px) {
  .player-content {
    padding: 0 3vw;
  }
}

.player__button, .player__slider {
  margin: 0 10px;
  cursor: pointer;
}

.player__slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player__slider input[type="range"] {
  width: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 0 8px;
}

@media (max-width: 667px) {
  .player__slider input[type="range"] {
    width: 40%;
  }
}

.player__slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.player__slider input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: #fff;
}

.player__slider input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin-top: -5px;
}

@media (max-width: 667px) {
  .player__slider input[type="range"]::-webkit-slider-thumb {
    width: 9px;
    height: 9px;
    margin-top: -3px;
  }
}

.player__title {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.player__title.player__title--white {
  color: white;
}

.iOS .player-controls {
  display: none;
}
